<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <!-- Шапка -->
    @await Html.PartialAsync(partialViewName: "Partial/_Header")

    <!-- контент -->
    <div class="container">
        <div class="container-fluid ">
            @RenderBody()
        </div>
    </div>

    <!-- Подвал -->
    @await Html.PartialAsync(partialViewName: "Partial/_Footer")

    <script src="https://kit.fontawesome.com/dc431bbf4b.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery.fancybox.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/script/script.js"></script>
</body>
</html>