<footer class="fcolor align-items-center p-5 m-0 shadow-none">
    <div class="container h2">
        <!-- Социальные кнопки -->
        <ul class="text-center list-unstyled list-inline ">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/vs.kornilov">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1" href="https://www.instagram.com/vs.kornilov/?hl=ru">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1" href="mailto:vs-kornilov@mail.ru">
                    <i class="fas fa-at"></i>
                </a>
            </li>
        </ul>
        <!-- Социальные кнопки -->
    </div>

    <!-- Копирайт -->
    <div class="footer-copyright text-center py-3 h5">
        © 2019 Copyright:
        <a href="https://www.instagram.com/vs.kornilov/?hl=ru">Владимир Корнилов </a>
    </div>
    <!-- Копирайт -->
</footer>