<header>
    <div class="d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 bg-white shadow-sm">
        <div id="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png"></a>
        </div>
        <h2 class="my-0 mr-md-auto font-weight-bold">SUHI BAR</h2>
        <!-- Меню -->
        <nav class="my-2 my-md-0 mr-md-3 h5">
            <a class="p-2 text-dark" @*asp-controller="Home"*@ asp-action="Index">Главная</a>
            <a class="p-2 text-dark" @*asp-controller="Home"*@ asp-action="Catalog">Каталог</a>
            <a class="p-2 text-dark" @*asp-controller="Home"*@ asp-action="Foto">Фотогалерея</a>
            <a class="p-2 text-dark" @*asp-controller="Home"*@ asp-action="Stock">Акции</a>
            <a class="p-2 text-dark" @*asp-controller="Home"*@ asp-action="Contact">Контакты</a>
        </nav>
    </div>
</header>