<div class="col-md-12 text-center">
    <address>
        <strong>@Model.Address</strong><br />@Model.Email<br /> <abbr title="Phone">@Model.Phone</abbr><br /><br />
    </address>
    <iframe src="@Model.Map" width="600" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>