<div class="row">
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
    <!-- Карточка товара -->
    <div class="col-sx p-2">
        <div class="card-deck-wrapper">
            <div class="card" style="width: 18rem;">
                <!-- Шапка карточки -->
                <div class="card-header">
                    <h5 class="card-title text-center font-weight-bold">GREEN</h5>
                </div>
                <!-- Шапка карточки -->
                <!-- Тело карточки -->
                <div class="card-body">
                    <img class="card-img-top" src="images/rolls/green.jpg" alt="Card image cap">
                    <p class="card-text">Сыр творожный, лосось, огурец, тобико зелёная, спайси соус</p>
                </div>
                <!-- Тело карточки -->
                <!-- Подвал карточки -->
                <div class="card-footer">
                    <p class="text-font-small font-weight-bold">Купить</p>
                    <a href="#" class="btn btn-primary btn-sm ">10 шт. - 200 руб</a>
                    <a href="#" class="btn btn-secondary btn-sm">5 шт. - 150 руб.</a>
                </div>
                <!-- Подвал карточки -->
            </div>
        </div>
    </div>
    <!-- Карточка товара -->
</div>