@model IEnumerable<ws_SushiBar.ViewModels.Stocks>

@foreach (var item in Model)
{
    <div class="card bg-dark text-white">
        <img src="@item.Img" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h1 class="card-title text-center display-2">@item.Name</h1><br /><br />
            <h2 class="card-text alert alert-success" role="alert">@item.Description</h2>
           
        </div>
    </div><br />        

}

